@tailwind base;
@tailwind components;
@tailwind utilities;

.mainview {
	height: 100vh;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.word {
	background-color: rgba(240, 240, 240, .8);
}
.wordcontainer {
	max-width: 40vw;
	overflow-wrap:anywhere;
}

.textcontainer {
	width: 40vw;
	line-break: strict;
}

.currentLetter {
	background-color: rgba(200, 200, 200 .8);
}

.wrong {
	background-color: rgba(200, 0, 0, .5);
}
.correct {
	background-color: rgba(0, 200, 0, .5);
}

.actionbar {
	display: flex;
	align-items: center;
}

.result {
	display: flex;
	justify-content: center;
	align-items: center;
}

.number {
	width: 20%;
}