@tailwind base;
@tailwind components;
@tailwind utilities;

.mainview {
	height: 100vh;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.word {
	/*padding-right: 2%;*/
	background-color: rgba(200, 200, 200, .8);
}
.wordcontainer {
	/*word-wrap: break-word;*/
	max-width: 33vw;
	overflow-wrap:anywhere;
}

.textcontainer {
	width: 33vw;
	line-break: strict;
}

.currentLetter {
	background-color: blue;
}

.wrong {
	background-color: red;
}
.correct {
	background-color: green;
}